<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portfolio</title>
</head>
<body>

  <h1>My Work</h1>

  <%= link_to "Create New Item", new_portfolio_path if logged_in?(:site_admin)  %>
  
  <%= render partial: 'portfolio_item', collection: @portfolio_items %>

</body>
</html>