<header class="masthead mb-auto">
  <div class="inner">
    <%# <h3 class="masthead-brand">Joseph Arias</h3> %>
    <h3><%= link_to 'Joseph Arias', root_path, class: "masthead-brand" %></h3>
    <nav class="nav nav-masthead justify-content-center app-nav">
      <%= nav_helper('nav-link', 'span') %>
      <%= login_helper('nav-link') %>
    </nav>
  </div>
</header>

