<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <%# <p class="lead text-muted">Driven developer that loves Latin Music, Dancing and Soccer (HTML, SCSS, JavaScript, Jquery, React, Ruby, Ruby on Rails, PHP, SQL and Firebase)</p> %>
  
      <%= link_to 'Find Out More About me', about_me_path, class: 'btn btn-primary'%>
      <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary'%>
    </p>
  </div>
</section>