<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">Developer, Designer & Lifelong Learner</p>
    </p>
  </div>
   
   <p class="float-left">
      <%= link_to "View All Portfolio Items", portfolios_path %>
    </p>
</section>