<p>Hey, I'm Joe! I'm a self taught Front-end web developer currently living in Manassas, VA. After working in the construction
field for a number of years, I discovered my passion for web design and development. I bring an eye for visualand
user interaction design to every project. I'm always looking to learn new skills and play with new technologies.
<br> Have a project in mind? Interested to learn more about me? Lets talk! You can contact me here.</p>
