<div class="app-card-container about-container">
  <div class="card">
    <h1>About Me</h1>
    
    <hr>

    <div class="row about-me-box">
      <div class="col-md-4">
        <%= image_tag "joe-pic.png", width: 300, alt: "profile image"%>
        
      </div>
      <div class="col-md-8 about-paragraph">
          <!-- Full-Stack Web Developer, Teacher and Software Engineer Coach at Flatiron School with a background in computer science, UI design and experience with managing and mentoring teams. I've been building things my entire life from wood-working projects to websites and web applications. It's what I enjoy doing. I now build products to help businesses deliver information as a Full Stack Developer. -->

            <p>I'm currently an Software Engineering Teaching Assistant at <strong >Flatiron School.</strong> During my time at Flatiron, I assisted 50+ software engineering students solve workflow, git, and debugging issues in capstone projects and presented review lectures on Ruby, Rails, JavaScript, React, Redux, SQL, Git, debugging, and pair programming.
            </p>

            <p>
            As a <strong>software engineer</strong>, I enjoy bridging the gap between engineering and design — combining my technical knowledge with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable and efficient under the hood while providing engaging, pixel-perfect user experiences.
            </p>
          
            <p>
            <strong>When I'm not in front of a computer screen</strong>, I'm probably playing soccer, learning to get better at salsa dancing, or crossing off another item on my bucket list.
          </p>
      
        <p> Have a project in mind? Interested to learn more about me? <br> Lets talk! </p>

        <a target="_blank" href="https://drive.google.com/file/d/1x1DaPSj8TS6pYCo2CAwu2gPZ7vIj58iw/view?usp=sharing">
        <button
            class="btn btn-primary"
            type="button"
        >
        Resume
        </button>
        </a>
      </div>
    </div>
  </div>
</div>


