<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    
    <hr>

    <div class="row about-me-box">
      <div class="col-md-4">
        <%= image_tag "joe.jpg", width: 300, alt: "profile image"%>
      </div>
      <div class="col-md-8">
        <p>Hey, I'm Joe! I'm a self taught Front-end web developer currently living in Manassas, VA. After working in the construction field for a number of years, I discovered my passion for web design and development. I bring an eye for visual and user interaction design to every project. I'm always looking to learn new skills and play with new technologies.</p>
        <p> Have a project in mind? Interested to learn more about me? Lets talk! You can contact me here.</p>
      </div>
    </div>
  </div>
</div>


