<div class="homepage-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 greet-container">
        <main role="main" class="cover intro">
          <h1 class="intro_hello">Hello! <span class="emoji wave-hand"></span></h1>
          <h2 class="intro_tagline">I'm <span class="name">Joseph Arias</span>, a design-minded front-end software engineer focused on building beautiful interfaces & experiences <span class="emoji technologist"></span></h2>
          <%# <p class="lead lifelong-learner">Developer, Designer & Lifelong Learner</p> %>
          <p class="lead">
            <%= link_to "Portfolio", portfolios_path, class: "btn btn-lg btn-primary" %>
          </p>

          <div class="main-icons">
            <h3 class="intro_contact"><span>Get in touch</span><span class="emoji pointer"></span></h3>
              <div class="social-links">
                <a target="_blank" href="https://www.linkedin.com/in/joseph-arias-4b917775/">
                  <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a target="_blank" href="https://github.com/Salsa-Dude">
                  <i class="fab fa-github fa-2x"></i>
                </a>
                <a target="_blank" href="https://codepen.io/JoEaZy/">
                  <i class="fab fa-codepen fa-2x"></i>
                </a>
                <a target="_blank" href="https://teamtreehouse.com/josepharias">
                  <i class="fas fa-code-branch fa-2x"></i>
                </a>
              </div>
          </div>
        </main>
      </div>
      <div class="col-sm-5 avatar-container">
        <section class="logo-box">
          <div class="roundborder">
            <div class="roundcontent">
            </div>
            <div class="avatar-inner">
              <%= image_tag "joe-pic.png", class: "avatar-image" %>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>


 

  




</div>
