<div class="homepage-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 greet-container">
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Joseph Arias</h1>
          <p class="lead lifelong-learner">Developer, Designer & Lifelong Learner</p>
          <p class="lead">
            <%= link_to "Portfolio", portfolios_path, class: "btn btn-lg btn-secondary" %>
          </p>
        </main>
      </div>
      <div class="col-sm-5 avatar-container">
        <section class="logo-box">
          <div class="roundborder">
            <div class="roundcontent">
            </div>
            <div class="avatar-inner">
              <%= image_tag "joe-pic.png", class: "avatar-image" %>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>


 

  




</div>
