<div class="homepage-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 greet-container">
        <main role="main" class="cover intro">
          <h1 class="intro_hello">Hello! <span class="emoji wave-hand"></span></h1>
          <h2 class="intro_tagline">I'm <span class="name">Joseph Arias</span>, a design-minded front-end software engineer focused on building beautiful interfaces & experiences <span class="emoji technologist"></span></h2>
          <%# <p class="lead lifelong-learner">Developer, Designer & Lifelong Learner</p> %>
          <p>
            <%= link_to "Portfolio", portfolios_path, class: "btn btn-lg btn-primary" %>
          </p>

          <div class="main-icons">
            <h3 class="intro_contact"><span>Get in touch</span><span class="emoji pointer"></span></h3>
              <div class="social-links">
                <a target="_blank" href="https://www.linkedin.com/in/joseph-arias-4b917775/">
                  <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a target="_blank" href="https://github.com/Salsa-Dude">
                  <i class="fab fa-github fa-2x"></i>
                </a>
                <a target="_blank" href="https://codepen.io/JoEaZy/">
                  <i class="fab fa-codepen fa-2x"></i>
                </a>
                <a target="_blank" href="https://teamtreehouse.com/josepharias">
                  <i class="fas fa-code-branch fa-2x"></i>
                </a>
              </div>
          </div>
        </main>
      </div>
      <div class="col-sm-5 avatar-container">
        <section class="logo-box">
          <div class="roundborder">
            <div class="roundcontent">
            </div>
            <div class="avatar-inner">
              <%= image_tag "joe-pic.png", class: "avatar-image" %>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

</div>

<div class="background-container section">
  <div class="row about-me-box">
    <div class="col-md-3 section_title">
      <!-- <%= image_tag "joe-pic.png", width: 300, alt: "profile image"%> -->
      Background
    </div>
    <div class="col-md-9 section_content">
      <p> 
        I'm currently an Junior Web Developer at
        <a class="underline-link" href="https://nfinityllc.com/" target="_blank">Nfinity LLC</a> building things for the web with some awesome people. I'm a rising senior from
        <a class="underline-link" href="https://www.odu.edu/compsci" target="_blank">Old Dominion University</a> majoring in Computer Science.
      </p>

      <p>
        As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
        with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
        and efficient under the hood while providing engaging, pixel-perfect user experiences.
      </p>

      <p>
        <strong>When I'm not in front of a computer screen</strong>, I'm probably boxing, learning to get better at salsa dancing or crossing off another item on my bucket list.
      </p>
      
        <!-- <p> Have a project in mind? Interested to learn more about me? <br> Lets talk! </p>

        <a target="_blank" href="https://drive.google.com/file/d/1mQ0Jyu7F1Ud0rfBeHbrurQeFXzTdbwqu/view?usp=sharing">
        <button
            class="btn btn-primary btn-lg "
            type="button"
        >
        Resume
        </button>
        </a> -->
    </div>
  </div>
</div>
