
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Joseph Arias</h1>
    <p class="lead">Developer, Designer & Lifelong Learner</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>





